/* TODO */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
.calculator,
.main,
.clr-dlt {
    display: flex;
    align-items: center;
}

body {
    justify-content: center;
    flex-direction: column;
    background-color: #eee;
    min-height: 100vh;
}

/* CALCULATOR DIV */
.calculator {
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid black;
    width: 250px;
    height: 380px;
    border-radius: 10px;
    background-color: #aaa;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 50px;
}


/* MAIN SECTION OF CALCULATOR MADE UP OF SCREEN AND MAIN*/
.screen,
.clr-dlt,
.button-container {
    width: 90%;
}

.screen {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    margin: auto 0;
    height: 20%;
    background-color: rgb(242, 242, 242);
    border-radius: 3px;
}

.screen div {
    margin-right: 10px;
    height: 50%;
}

.screen .top-wrapper {
    margin-top: 5px;
    font-size: 12px;
}

.screen .bottom-wrapper {
    margin-bottom: 10px;
    font-size: 22px;
}

.main {
    flex-direction: column;
    width: 100%;
    height: 75%;
    background-color: #aaa;
    border-radius: 10px;
}


/* CLEAR AND DELETE BUTTONS */
.clr-dlt {
    justify-content: space-between;
    margin-bottom: 8px;
    height: 12%;
    background-color: #aaa;
}

.clr-dlt button {
    width: 110px;
    height: 100%;
    border: none;
    font-weight: 800;
    border-radius: 5px;
    color: white;
}

.clear {background-color: orange;}
.clear:hover {background-color: rgb(255, 216, 144);}

.delete {background-color: red;}
.delete:hover {background-color: rgb(255, 91, 91);}


/* BUTTONS */
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 85%;
    margin-bottom: 10px;
}

.button-container button {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 900;
    margin-top: 10px;
    color: whitesmoke;
    background-color: rgb(82, 82, 82);
}
.button-container button:hover {background-color: rgb(44, 44, 44);}

/* ADDED BUTTON STYLES TO OPERATORS */
#operator {
    background-color: rgb(255, 213, 0);
    color: white;
}
#operator:hover {background-color: rgb(199, 166, 0);}


/* FOOTER */
footer {
    text-align: center;
    width: 100vw;
    font-size: 12px;
    font-weight: 200;
}
